#display {
    
    /* align-items: center;
    margin-left: 500px; */
    width: 100%;
    /* height: 300px; */
    
  }
  .scroller {
   
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

.img {
    float: left;
    width: 33%;
}

body {


    background-color: #984343;
    border: #984343;
}

#button{

    text-align: center;
    
    color: rgb(44, 4, 164);
}


#list_element
{
  font-family: "Lucida Console", "Courier New", monospace;


}
header {
    background-color: #bb1010;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    
  }

  nav {
    font-weight: bold;
    background-color: #0d8e70;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 20px;
    font-size: 30px;
   
    text-decoration: none;

  }

  #div{
    background-color: #bf95dd;
    border-style: solid;

  }
  #likes{
    border-style: solid;

  }
  
  #imageBank{

    background-color: #125955;
  }

  .demo{

    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 1px;
    
  }

  #likes{
 height: 400px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

  }

  .liked-image{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;

  }

  #ol{

    list-style-type: none;
  }

  .removeBullet{

    list-style-type: none;
  }
